<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anderspersson.xbmcwidget"
    android:versionCode="8"
    android:versionName="1.4.3">
    
    <uses-feature android:name="android.hardware.wifi" />
    
    <uses-permission android:name="android.permission.INTERNET" />
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  	  	
  	<uses-sdk android:minSdkVersion="4"
            android:targetSdkVersion="16" />
  	<supports-screens android:anyDensity="true"
                    android:largeScreens="true"
                    android:normalScreens="true"
                    android:smallScreens="true" />
<application
    android:name=".common.XbmcWidgetApplication"
    android:hardwareAccelerated="true" 
	android:label="XBMC Widget" 
	android:icon="@drawable/ic_launcher" 
	android:logo="@drawable/ic_launcher">

	<activity 
		android:name=".configuration.MainActivity" 
		android:label="@string/app_name"
		android:noHistory="true" >
		
		<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>	
	</activity>
	
	<activity android:name=".configuration.ApplicationPreferenceActivityHC" />
	<activity android:name=".configuration.ApplicationPreferenceActivity" />
	<activity android:name=".configuration.TroubleshootingPreferenceActivity" />
	<activity android:name=".configuration.AboutPreferenceActivity" />
	
	<receiver android:name="com.commonsware.cwac.wakeful.AlarmReceiver">
		<meta-data
			android:name="com.commonsware.cwac.wakeful"
			android:resource="@xml/wakeful"/>
	</receiver>
	
    <receiver android:name=".remote.RemoteWidget" android:label="XBMC Remote">
    	<intent-filter>
        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		</intent-filter>
        <meta-data
        	android:name="android.appwidget.provider"
            android:resource="@xml/remote_provider" />
    </receiver>
    
    <receiver 
        android:name=".recenttv.Widget" 
        android:label="XBMC Recent TV">
    	<intent-filter>
        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        	<action android:name="com.anderspersson.xbmcwidget.common.PREF_CHANGED" />
		</intent-filter>
        <meta-data
        	android:name="android.appwidget.provider"
            android:resource="@xml/recent_tv_provider" />
    </receiver>
    
	<receiver 
        android:name=".recentmovies.Widget" 
        android:label="XBMC Recent Movies">
    	<intent-filter>
        	<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        	<action android:name="com.anderspersson.xbmcwidget.common.PREF_CHANGED" />
		</intent-filter>
        <meta-data
        	android:name="android.appwidget.provider"
            android:resource="@xml/recent_movies_provider" />
    </receiver>
        
	<service android:name=".xbmc.XbmcService" />
	<service android:name=".recenttv.RenderWidgetIntentService" />
	<service android:name=".recenttv.RenderWidgetIntentServiceHC" />
	<service android:name=".recenttv.RecentTvRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
	
	<service android:name=".recentmovies.RenderWidgetIntentService" />
	<service android:name=".recentmovies.RenderWidgetIntentServiceHC" />
	<service android:name=".recentmovies.RecentMoviesRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
	
	<service android:name=".recentvideo.FanArtDownloaderIntentService" />
	<service android:name=".common.TimerIntentService" />

</application>
</manifest>